:root {
    --primary-color: #6b4420; /* Marron chaud */
    --secondary-color: #F5E1C9; /* Beige clair */
    --accent-color: #d1844d; /* Marron orangé */
    --text-color: #514236; /* Marron foncé pour le texte */
    --background-color: #FFF8EE; /* Beige très clair pour le fond */
    --card-color: #ffffff;
  }